<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<title>Результаты в формате JSON</title>
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Scada" rel="stylesheet">
    <link href="/static/style.css" type="text/css" rel="stylesheet">
</head>

<body>
<div class="resultinfo">
  <p>{{ data }}</p>
</div>
<a href="{{ again_refer }}">Заполнить анкету еще раз</a>
<a href="{{ search_refer }}">Перейти к поиску по введенным данным</a>
<a href="{{ stats_refer }}">Вернуться к общей статистике</a>

</body>
</html>